body {
    font: normal normal 400 12px Lato;
    padding: 0 !important;
}

body > .nx-page {
    padding: 0;
}

.noPaddingTop{
    padding-top: 0;
}



 #dashboard-container,
 #dashboard-container div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

 #dashboard-container #deal-dashboard-iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.queue-button-container .nx-header-right {
    float: none;
    text-align: center;
    margin-top: 10px;
}

div[pagename="PackageView"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
